# 1. Pandas 시작하기

#### table 데이터 set

- 행과 열을 이용하여 데이터를 저장하고 관리하는 자료구조
- 행: 객체(sample)
- 열: 속성(feature)

#### panda 모듈 불러오기

In [1]:
import pandas as pd

## 2. Series 다루기

#### Series란 무언인가?

- 1-D lable **array**
- index를 지정할 수 있음

In [22]:
s = pd.Series([1,4,9,16,25])

In [23]:
print(s)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [24]:
t = pd.Series({'one':1, 'two':2, 'three':3, 'four':4, 'five':5})

In [25]:
print(t)

one      1
two      2
three    3
four     4
five     5
dtype: int64

### Series 와 Numpy

- Series와 np.array 유사

In [26]:
s[1]

4

In [27]:
t[1]

2

In [28]:
s[s > s.median()]

3    16
4    25
dtype: int64

In [29]:
s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [30]:
s[[3,1]]

3    16
1     4
dtype: int64

In [31]:
import numpy as np

In [32]:
np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [33]:
s.dtype

dtype('int64')

### Series + dict

- series는 dict와 유사

In [34]:
print(t)

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [36]:
print(t[0])
print(t['one'])

1
1

In [37]:
t['six'] = 6

In [38]:
print(t)

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [39]:
'six' in t

True

In [40]:
'seven' in t

False

In [42]:
print(t.get('seven'))

None

In [43]:
print(t.get('seven', 0))

0

### Series에 이름 붙이기

- name 속성을 지님
- 처음 series에 이름을 붙일 수 있다.

In [45]:
s = pd.Series(np.random.randn(5), name= 'random_num')

In [46]:
print(s)

0    0.525080
1    0.374831
2    0.082112
3   -0.549655
4    2.942813
Name: random_num, dtype: float64

In [47]:
s.name = "임의의 난수"

In [49]:
print(s)

0    0.525080
1    0.374831
2    0.082112
3   -0.549655
4    2.942813
Name: 임의의 난수, dtype: float64

## 3. DateFrame이란?

- 2-D labled table
- index를 지정할 수 있음

In [50]:
d = {'height':[1,2,3,4], 'weight':[30,40,50,60]}

In [51]:
df = pd.DataFrame(d)

In [52]:
print(df)

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

In [53]:
df.dtypes

height    int64
weight    int64
dtype: object

#### From CSV to DataFrame

- csv -> DataFrame
- pd.read_csv()

In [61]:
covid = pd.read_csv("C:/Users/gudwn/OneDrive/바탕 화면/country_wise_latest.csv")

In [62]:
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

## 1) Pandas 활용하기

- 위에서 n개를 관찰하는 함수
- name.head(n) : n개의 데이터를 가져옴

- 마지막에서 n개를 관찰하는 함수
- name.tail(n) : 아래서 n개의 데이터를 가져옴

In [66]:
covid.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [65]:
covid.tail(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

## 2) Pandas 데이터 접근하기

- df['column_name']
- df.column_name

In [71]:
covid['Confirmed']

0      36263
1       4880
2      27973
3        907
4        950
       ...
182    10621
183       10
184     1691
185     4552
186     2704
Name: Confirmed, Length: 187, dtype: int64

In [70]:
covid.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

## 3)조건을 적용하여 data 접근하기

In [76]:
# 신규 확진자가 100명 넘는 나라를 찾기

covid[ covid['New cases'] > 100 ].head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific

In [79]:
covid['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [77]:
covid[ covid['WHO Region'] == 'South-East Asia']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia

## 4) row 기준으로 data 접근하기

- df.loc[row, col]

In [124]:
books_dict = {"Available": [True, True, False], "Location": [102, 215, 323], "Gerne":["Programming","Physics","Math"]}

books_df = pd.DataFrame(books_dict, index=['버그란 무엇인가','두근 물리학','미분해줘 홈즈'])

books_df

          Available  Location        Gerne
버그란 무엇인가       True       102  Programming
두근 물리학         True       215      Physics
미분해줘 홈즈       False       323         Math

In [127]:
books_df.loc['미분해줘 홈즈','Available']

False

- df.iloc[rowidx, colidx]

In [135]:
# slicing 가능

books_df.iloc[0,1]

102

In [136]:
books_df.iloc[:,1]

버그란 무엇인가    102
두근 물리학      215
미분해줘 홈즈     323
Name: Location, dtype: int64

## 5) groupby 활용

- split : 특정한 **기준**을 바탕으로 DataFrame을 분할
- apply : **통계함수**를 적용 ; sum(), mean(), median()
- combine : apply된 결과를 바탕으로 **새로운 Series를 생성**


- df.groupby()

In [139]:
covid_region = covid['Confirmed'].groupby(by = covid['WHO Region'])

In [141]:
covid_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [142]:
covid_region.mean()

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

## Mission:

### 1) covid data에서 100case 대비 사망률이 가장 높은 국가를 찾으시오

In [169]:
covid_country = covid['Deaths / 100 Cases'].groupby(by = covid['Country/Region'])

max_value = max(covid_country.max())
covid_country = covid_country.max()

for idx, value in enumerate(covid_country):
    if value == max_value:
        break
covid.loc[idx,'Country/Region']

'Yemen'

### 2) covid data에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'인 나라를 모두 출력하시오

In [174]:
zero_cases = covid[ covid['New cases'] == 0 ]
Europe_zeros_cases = zero_cases[ zero_cases['WHO Region'] == 'Europe' ]

print(Europe_zeros_cases['Country/Region'])

56           Estonia
75          Holy See
95            Latvia
100    Liechtenstein
113           Monaco
143       San Marino
157            Spain
Name: Country/Region, dtype: object

### 3) 각 Region별로 아보카도가 비싼 가장 비싼 평균 가격(AveragePrice)을 출력하시오

In [175]:
avocado = pd.read_csv('C:/Users/gudwn/OneDrive/바탕 화면/avocado.csv')

In [181]:
max_price = avocado.groupby(by = avocado['region']).max()

max_price['AveragePrice']

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64